:root{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.row{
    background-color: blueviolet;
}

[class*="col-"]{
    height: 50px;
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .layout-1 .row:last-of-type .col-6{
    padding: 1rem;
} 

.layout-1 .row:last-of-type .col-6 > div{
    height: 50%;

    background-color: rgb(105, 12, 12);

    border: none; 
}  */

.layout-2{
    margin-top: 2rem;
}